*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1{
	color: green;
	text-align: center;
	border-bottom: 2px solid black;
}
.main-just {
	
	padding: 20px;
	margin: 2px;
	text-align: none;
	background: #54504c;
}
.form-class{
	width: 65%;
	padding: 40px;
	margin: auto;
	border: 10px solid green;
	text-align: center;
	background:#f4a941;

}
button{
	display: inline-block;
	background:#56f442;
	border: 10px solid black;

}

label{
	color: #4198f4;
	padding: 20px;
	display: inline-block;
	border: 30px solid blue;

}